<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--For key parts for command connection-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.connection.requireSSL">false</property>
        <property name="hibernate.connection.useSSL">false</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>

        <!--Data source, connection pool-->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>

        <property name="c3p0.timeout">10</property>

        <!--Register current session context-->
        <!--To make sure in one single thread, always get the same session-->
        <property name="hibernate.current_session_context_class">thread</property>

        <!--Show SQL-->
        <property name="hibernate.show_sql">true</property>
        <!--Format SQL-->
        <property name="hibernate.format_sql">true</property>

        <!--Register entity mapping files-->
        <mapping resource="Student.hbm.xml"/>

    </session-factory>
</hibernate-configuration>