<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--target object bean-->
    <bean id="target" class="pers.xiaoming.java_spring.AOPTargetImpl"/>

    <!-- Before Advice config-->
    <bean id="myMethodBeforeAdvice" class="pers.xiaoming.java_spring.MyBeforeAdvice"/>

    <!--Proxy config-->
    <!-- its backend is still java.lang.reflect.Proxy -->
    <bean id="beforeAdviceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="target"/>
        <!--<property name="interfaces" value="pers.xiaoming.java_spring.AOPTarget"/>-->
        <property name="interceptorNames" value="myMethodBeforeAdvice"/>
    </bean>

    <bean id="myAfterReturningAdvice" class="pers.xiaoming.java_spring.MyAfterReturningAdvice"/>

    <bean id="afterAdviceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="target"/>
        <!--<property name="interfaces" value="pers.xiaoming.java_spring.AOPTarget"/>-->
        <property name="interceptorNames" value="myAfterReturningAdvice"/>
    </bean>

    <bean id="myMethodInterceptor" class="pers.xiaoming.java_spring.MyMethodInterceptor"/>

    <bean id="methodInterceptorProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="target"/>
        <!--<property name="interfaces" value="pers.xiaoming.java_spring.AOPTarget"/>-->
        <property name="interceptorNames" value="myMethodInterceptor"/>
    </bean>
</beans>